@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
}


/* Estilizando os cards */
.card {
    background-color: #222;
    height: 500px; /* Altura fixa para os cards */
    margin-bottom: 20px;
    color: #fff; /* Cor do texto dentro do card */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.card img {
    width: 100%;
    height: 270px;
    object-fit: contain; /* Garante que a imagem se ajusta sem distorcer */
    margin: 0 auto;
}

.card-body {
    overflow: hidden;
}

/* Outras customizações que você achar necessário */

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Exo 2', sans-serif;
}

.content {
    flex: 1;
}

.navbar, .footer {
    background-color: #111;
}

.btn-primary, .btn-danger {
    background-color: #a900b8;
    border-color: #a900b8;
}

.btn-primary:hover, .btn-danger:hover {
    background-color: #000000;
    border-color: #a900b8;
    transition: background-color 1s ease;
}

footer {
    background-color: #111;
    padding: 1rem;
    color: #fff;
}

a {
    color: #e60000;
}

a:hover {
    color: #cc0000;
}

.card-title {
    color: #a900b8;
    font-weight: bold;
    font-size: 24px;
}

/* Estilização geral da logo */
.navbar-brand {
    display: flex; /* Coloca imagem e texto lado a lado */
    align-items: center; /* Centraliza verticalmente a imagem e o texto */
    text-decoration: none; /* Remove o sublinhado do link */
}

/* Estilizando a imagem da logo */
.navbar-brand .logo-img {
    height: 50px; /* Ajusta o tamanho da imagem */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

/* Estilizando o texto da logo */
.navbar-brand .logo-text {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #e60000; /* Cor do texto */
    font-family: "Arial", sans-serif; /* Fonte personalizada */
    font-weight: bold; /* Deixa o texto em negrito */
}

.logo-img {
    height: 60px; /* Ajuste a altura da logo */
    width: auto; /* Mantém a proporção da largura */
    margin-right: 10px;
}

.col-md-8 {
    text-align: center;
    margin-top: 10%;
}

.values-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-header {
    color: #a900b8;
}

.img-fluid rounded-circle {
    margin-bottom: 200px;
}
